<!DOCTYPE html>
<html>
  <head>
    <title>ApiDocs</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body {
        font-family: Raleway,arial,sans-serif;
      }

      .blue {
        color: #81B3DA;
      }
      
      tbody tr td {
        font-size: 14px;
      }
    </style>
  </head>
  <body>
    <h2 class="blue"><img height="32" width="32" src="static/apidocs/yeti.png"/>ApiDocs</h2>
    <div>
      <table>
        <thead>
          <tr>
            <th>Http method</th>
            <th>Uri</th>
            <th>Http status</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          %s
        </tbody>
      </table>
    </div>
  </body>
</html>
