<!DOCTYPE html>
<html>
  <head>
    <title>ApiDocs</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h2>ApiDocs</h2>
    <div>
      <table>
        <thead>
          <tr>
            <th>Http method</th>
            <th>Uri</th>
            <th>Http status</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          %s
        </tbody>
      </table>
    </div>
  </body>
</html>
